* {
	box-sizing: border-box;
}

h1 {
	text-align: center;
	vertical-align: middle;
	line-height: 10px;
}

.row {
	width: 100%;
}


div.row {
	margin-left: 50px;
}

.chicken {  
	border: 1px solid black;
	background-color: red;
	height: 150px;
	color: black;
}

.beef {
	border: 1px solid black;
	background-color: green;
	height: 150px;
	color: black;
}

.sushi {
	border: 1px solid black;
	background-color: blue;
	height: 150px;
	color: black;
}

.box1 {
	border: 1px solid black;
	background-color: blue;
	width: 33.3%;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	line-height: 10px;
	float: right;
	
}

.box2 {
	border: 1px solid black;
	background-color: red;
	width: 33.3%;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	line-height: 10px;
	float: right;
}

.box3 {
	border: 1px solid black;
	background-color: green;
	width: 33.3%;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	line-height: 10px;
	float: right;
}

p.par { 
	margin-left: 5px;
	position: relative;
	bottom: -20px;
	clear: right;
}


@media (min-width: 922px) {
	.col-lg-4 {
		border: 1px black;
		margin-right: 10px;
		float: left;
		width: 29.9%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-md-2 {
		border: 1px solid black;
		margin: 10px;
		float: left;
		border-color: 1px black;
		width: 43%;
	}
	.sushi {
		border: 1px solid black
		width: 88.5%;
		float: left;	
	}
}

@media (max-width: 767px) {
	.col-sm-12 {
		margin-right: 90px;
		margin-bottom: 10px;
	}

}