/* Navigation bar */


#header-nav {
  background-color: #F1850A;
  border-radius: 0;
  border: 0;
}

.navbar {
	overflow: hidden;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.content {
	margin-top: 150px;
	padding: 50px;
	font-family: "Times New Roman", serif;
	font-size: 5em;
	color: #F1850A;
	text-shadow: 1px 1px 1px #F6F60D;
}

.sticky + .content {
	padding-top: 60px;
}

.navbar-brand h1 {
  font-family: "Times New Roman", serif;
  color: #F73B09;
  font-size: 3em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #F6F60D;
  margin-top: 10px;
  margin-bottom: auto;
  line-height: -50px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

.navbar-header button.navbar-toggle {
	clear: both;
	top: -15px;
}

.navbar-toggle, .icon-bar {
  	border: 1px solid #F73B09	;
}


#nav-list {
  margin-top: 20px;
  margin-bottom: 15px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

#body {
	background-color: #F4F40B;
}

#body div {
	padding: 30px;
	font-size: 1.8em;
}

.row {
	width: 100%;
}

/*** Large Screens ***/
@media (min-width: 1200px) {
	#header-nav {
		padding-bottom: 50px;
	}
}
/*** Medium Screens ***/
@media (min-width: 992px) and (max-width: 1199px) {
	#header-nav {
		padding-bottom: 50px;
}
/*** Small Screens ***/
@media (min-width: 768px) and (max-width: 991px) {
	.visible-xmd {
		display: block !important;
	}

	#collapsable-nav {
		padding-bottom: 50px;
	}
}

/*** Extra Small Screens ***/
@media (max-width: 767px) {	

	#header-nav {
		padding: 0;
	}

	.navbar-brand h1 {
		margin: 0;
		font-size: 1.8em;
	}

	.content {
		margin-top: 100px;
	}

	#collapsable-nav {
		padding-top: 15px;
		padding-bottom: 15px;
		background: url("../images/TrollFace.jpg");	
	}

	#collapsable-nav a { /* Collapsed nav menu text */
    	font-size: 1.8em;
    	color: red;
    	font-weight: bold;
 	}

  	#collapsable-nav a span { /* Collapsed nav menu glyph */
    	font-size: 1.5em;
    	margin-right: 5px;
  }

  	#body {
  		margin-left: 20px; 
  		margin-right: 20px;
  		padding: 0;
  	}
}

/*** Extra Extra Small Screens ***/

